@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-heading: 'Bebas Neue', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;

    --EnglishViolet: #413c58;
    --AshGray: #a3c4bc;
    --TeaGreen: #bfd7b5;
    --Cream: #e7efc5;
    --Parchment: #f2e7c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
